# Node clutter
node_modules/

# Mac clutter
.DS_Store

# Result logs
results/

# Custom players and games (your own work, not committed)
players/local/*
!players/local/.gitkeep
games/local/*
!games/local/.gitkeep

# Non roster players and games (likely to fluctuate wildly over time, can always be rebuilt)
players/dev/
games/dev/

# Your saved cookie data (do not commit this)
.cookies.json